# Cleaning Game Data Collected on every Team

In this notebook we will clean the boxscore data collected which contains detailed information about every game played by each team across the seasons

In [1]:
import pandas as pd
import os
import matplotlib.pyplot as plt

In [2]:
team_game_data_dir = "../data/raw/team_game_data"


team_gamedata_dfs = []


for filename in os.listdir(team_game_data_dir):
    if filename.endswith(".csv"):
        file_path = os.path.join(team_game_data_dir, filename) 
        df = pd.read_csv(file_path)
        team_gamedata_dfs.append(df)
team_gamedata_combined = pd.concat(team_gamedata_dfs, ignore_index=True)

In [3]:
team_gamedata_combined

,SEASON_ID,TEAM_ID,TEAM_ABBREVIATION,TEAM_NAME,GAME_ID,GAME_DATE,MATCHUP,WL,MIN,PTS,...,FT_PCT,OREB,DREB,REB,AST,STL,BLK,TOV,PF,PLUS_MINUS
0,22023,1610612737,ATL,Atlanta Hawks,22301076,2024-03-30,ATL vs. MIL,L,239,113,...,0.833,9.0,30.0,39.0,24,5.0,3,11,26,-9.0
1,22023,1610612737,ATL,Atlanta Hawks,22301060,2024-03-28,ATL vs. BOS,W,265,123,...,0.600,17.0,36.0,53.0,24,5.0,5,11,17,1.0
2,22023,1610612737,ATL,Atlanta Hawks,22301051,2024-03-27,ATL vs. POR,W,240,120,...,0.800,8.0,33.0,41.0,23,12.0,9,16,17,14.0
3,22023,1610612737,ATL,Atlanta Hawks,22301034,2024-03-25,ATL vs. BOS,W,241,120,...,0.588,15.0,29.0,44.0,30,5.0,3,13,18,2.0
4,22023,1610612737,ATL,Atlanta Hawks,22301021,2024-03-23,ATL vs. CHA,W,240,132,...,0.857,11.0,32.0,43.0,40,9.0,5,8,14,41.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
105397,21983,1610612764,WAS,Washington Bullets,28300052,1983-11-05,WAS vs. BOS,L,240,117,...,0.735,19.0,24.0,43.0,24,8.0,1,15,33,NaN
105398,21983,1610612764,WAS,Washington Bullets,28300036,1983-11-03,WAS vs. DET,W,240,111,...,0.794,12.0,37.0,49.0,29,4.0,9,18,27,NaN
105399,21983,1610612764,WAS,Washington Bullets,28300027,1983-11-01,WAS @ ATL,L,240,92,...,0.647,10.0,37.0,47.0,20,5.0,3,22,26,NaN
105400,21983,1610612764,WAS,Washington Bullets,28300011,1983-10-29,WAS @ NYK,L,240,97,...,0.805,15.0,35.0,50.0,21,8.0,3,23,32,NaN
105401,21983,1610612764,WAS,Washington Bullets,28300003,1983-10-28,WAS @ PHL,L,240,114,...,0.759,10.0,26.0,36.0,32,9.0,3,21,35,NaN

As you can see the data goes all the way back to the 1980s. For our analysis we will only be looking at data from 1996 onwards (as the other datasets might not have data for older years). We'll first convert the `GAME_DATE` column into a datetime object using pandas for easy comparison :

In [4]:
# converting game date to datetime object
team_gamedata_combined['GAME_DATE'] = pd.to_datetime(team_gamedata_combined['GAME_DATE'])

NBA season usually starts in October so we'll extract all the data from October 1996 onwards :

In [5]:
filtered_df = team_gamedata_combined[(team_gamedata_combined['GAME_DATE'].dt.year >= 1996) & (team_gamedata_combined['GAME_DATE'].dt.month >= 10)]
filtered_df

,SEASON_ID,TEAM_ID,TEAM_ABBREVIATION,TEAM_NAME,GAME_ID,GAME_DATE,MATCHUP,WL,MIN,PTS,...,FT_PCT,OREB,DREB,REB,AST,STL,BLK,TOV,PF,PLUS_MINUS
42,22023,1610612737,ATL,Atlanta Hawks,22300445,2023-12-31,ATL @ WAS,W,240,130,...,0.649,12.0,46.0,58.0,27,5.0,3,12,18,4.0
43,22023,1610612737,ATL,Atlanta Hawks,22300431,2023-12-29,ATL vs. SAC,L,239,110,...,0.840,18.0,33.0,51.0,29,9.0,4,15,16,-7.0
44,22023,1610612737,ATL,Atlanta Hawks,22300408,2023-12-26,ATL @ CHI,L,239,113,...,0.857,12.0,28.0,40.0,24,6.0,3,15,21,-5.0
45,22023,1610612737,ATL,Atlanta Hawks,22300393,2023-12-23,ATL vs. MEM,L,239,119,...,0.800,13.0,28.0,41.0,28,8.0,5,10,22,-6.0
46,22023,1610612737,ATL,Atlanta Hawks,22300384,2023-12-22,ATL @ MIA,L,240,113,...,0.714,12.0,31.0,43.0,29,9.0,2,13,23,-9.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
104310,21996,1610612764,WAS,Washington Bullets,29600065,1996-11-09,WAS @ IND,L,265,100,...,0.563,12.0,30.0,42.0,23,10.0,6,15,30,-3.0
104311,21996,1610612764,WAS,Washington Bullets,29600054,1996-11-08,WAS vs. CHH,L,241,87,...,0.500,25.0,30.0,55.0,22,5.0,3,7,21,-15.0
104312,21996,1610612764,WAS,Washington Bullets,29600042,1996-11-06,WAS vs. SAS,W,240,96,...,0.895,14.0,38.0,52.0,19,3.0,3,14,18,10.0
104313,21996,1610612764,WAS,Washington Bullets,29600015,1996-11-02,WAS vs. CLE,L,266,96,...,0.538,13.0,31.0,44.0,19,4.0,8,15,24,-2.0
104314,21996,1610612764,WAS,Washington Bullets,29600004,1996-11-01,WAS @ ORL,W,240,96,...,0.733,11.0,26.0,37.0,25,10.0,10,16,24,4.0

In [6]:
filtered_df['TEAM_NAME'].unique()

array(['Atlanta Hawks', 'Boston Celtics', 'Brooklyn Nets',
       'New Jersey Nets', 'Charlotte Hornets', 'Charlotte Bobcats',
       'Chicago Bulls', 'Cleveland Cavaliers', 'Dallas Mavericks',
       'Denver Nuggets', 'Detroit Pistons', 'Golden State Warriors',
       'Houston Rockets', 'Indiana Pacers', 'LA Clippers',
       'Los Angeles Clippers', 'Los Angeles Lakers', 'Memphis Grizzlies',
       'Vancouver Grizzlies', 'Miami Heat', 'Milwaukee Bucks',
       'Minnesota Timberwolves', 'New Orleans Pelicans',
       'New Orleans Hornets', 'New Orleans/Oklahoma City Hornets',
       'New York Knicks', 'Oklahoma City Thunder', 'Seattle SuperSonics',
       'Orlando Magic', 'Philadelphia 76ers', 'Phoenix Suns',
       'Portland Trail Blazers', 'Sacramento Kings', 'San Antonio Spurs',
       'Toronto Raptors', 'Utah Jazz', 'Washington Wizards',
       'Washington Bullets'], dtype=object)

As previously discussed, some of the teams had different names in older seasons. So we will rename teams to their most recent names to maintain consistency with the other datasets. To do this we'll see which ids have multiple team names and rename them to their most recent team name :

In [7]:
teams_with_same_id = filtered_df.groupby('TEAM_ID')['TEAM_NAME'].unique()
teams_to_rename = teams_with_same_id[teams_with_same_id.apply(len) > 1]
teams_to_rename

TEAM_ID
1610612740    [New Orleans Pelicans, New Orleans Hornets, Ne...
1610612746                  [LA Clippers, Los Angeles Clippers]
1610612751                     [Brooklyn Nets, New Jersey Nets]
1610612760         [Oklahoma City Thunder, Seattle SuperSonics]
1610612763             [Memphis Grizzlies, Vancouver Grizzlies]
1610612764             [Washington Wizards, Washington Bullets]
1610612766               [Charlotte Hornets, Charlotte Bobcats]
Name: TEAM_NAME, dtype: object

In [8]:
team_map = {
    1610612740: 'New Orleans Pelicans',
    1610612746: 'Los Angeles Clippers',
    1610612751: 'Brooklyn Nets',
    1610612760: 'Oklahoma City Thunder',
    1610612763: 'Memphis Grizzlies',
    1610612764: 'Washington Wizards',
    1610612766: 'Charlotte Hornets'
}

In [9]:
filtered_df=filtered_df.copy()
filtered_df['TEAM_NAME'] = filtered_df.apply(lambda x: team_map.get(x['TEAM_ID'], x['TEAM_NAME']), axis=1) # apply the mapping

In [10]:
assert len(filtered_df['TEAM_NAME'].unique()) == 30

The assertion above reassures us that the teams were correctly renamed as there are 30  teams playing in the nba at the moment.

In [11]:
filtered_df['TEAM_NAME'].unique()

array(['Atlanta Hawks', 'Boston Celtics', 'Brooklyn Nets',
       'Charlotte Hornets', 'Chicago Bulls', 'Cleveland Cavaliers',
       'Dallas Mavericks', 'Denver Nuggets', 'Detroit Pistons',
       'Golden State Warriors', 'Houston Rockets', 'Indiana Pacers',
       'Los Angeles Clippers', 'Los Angeles Lakers', 'Memphis Grizzlies',
       'Miami Heat', 'Milwaukee Bucks', 'Minnesota Timberwolves',
       'New Orleans Pelicans', 'New York Knicks', 'Oklahoma City Thunder',
       'Orlando Magic', 'Philadelphia 76ers', 'Phoenix Suns',
       'Portland Trail Blazers', 'Sacramento Kings', 'San Antonio Spurs',
       'Toronto Raptors', 'Utah Jazz', 'Washington Wizards'], dtype=object)

In [12]:
filtered_df[filtered_df['TEAM_NAME'] == 'New Orleans Pelicans']

,SEASON_ID,TEAM_ID,TEAM_ABBREVIATION,TEAM_NAME,GAME_ID,GAME_DATE,MATCHUP,WL,MIN,PTS,...,FT_PCT,OREB,DREB,REB,AST,STL,BLK,TOV,PF,PLUS_MINUS
64314,22023,1610612740,NOP,New Orleans Pelicans,22300446,2023-12-31,NOP vs. LAL,W,240,129,...,0.815,12.0,35.0,47.0,33,9.0,6,11,22,20.0
64315,22023,1610612740,NOP,New Orleans Pelicans,22300424,2023-12-28,NOP vs. UTA,W,240,112,...,0.800,6.0,29.0,35.0,27,10.0,7,14,19,7.0
64316,22023,1610612740,NOP,New Orleans Pelicans,22300410,2023-12-26,NOP vs. MEM,L,266,115,...,0.636,10.0,36.0,46.0,18,12.0,6,14,26,-1.0
64317,22023,1610612740,NOP,New Orleans Pelicans,22300392,2023-12-23,NOP vs. HOU,L,240,104,...,0.690,13.0,33.0,46.0,21,9.0,7,16,22,-2.0
64318,22023,1610612740,NOP,New Orleans Pelicans,22300375,2023-12-21,NOP @ CLE,W,240,123,...,0.875,7.0,33.0,40.0,32,7.0,4,9,15,19.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
66284,22002,1610612740,NOH,New Orleans Pelicans,20200077,2002-11-08,NOH vs. GSW,W,240,110,...,0.821,17.0,26.0,43.0,20,8.0,5,13,20,6.0
66285,22002,1610612740,NOH,New Orleans Pelicans,20200063,2002-11-06,NOH vs. SEA,W,241,86,...,0.600,15.0,30.0,45.0,24,8.0,3,14,20,2.0
66286,22002,1610612740,NOH,New Orleans Pelicans,20200036,2002-11-02,NOH vs. MIA,W,240,100,...,0.818,14.0,27.0,41.0,19,9.0,5,8,23,4.4
66287,22002,1610612740,NOH,New Orleans Pelicans,20200025,2002-11-01,NOH @ CHI,L,240,79,...,0.714,14.0,25.0,39.0,18,11.0,5,14,22,-5.0
66288,22002,1610612740,NOH,New Orleans Pelicans,20200013,2002-10-30,NOH vs. UTA,W,240,100,...,0.727,16.0,25.0,41.0,22,12.0,3,10,26,25.0

We also need to change the `TEAM_ABBREVIATION` column accordingly as some of the abbreviations represent the old team name

In [13]:
teams_with_same_abbrev = filtered_df.groupby('TEAM_ID')['TEAM_ABBREVIATION'].unique()
teams_to_rename = teams_with_same_abbrev[teams_with_same_abbrev.apply(len) > 1]
teams_to_rename

TEAM_ID
1610612740    [NOP, NOH, NOK]
1610612751         [BKN, NJN]
1610612760         [OKC, SEA]
1610612763         [MEM, VAN]
1610612766         [CHA, CHH]
Name: TEAM_ABBREVIATION, dtype: object

In [14]:
abbrev_map = {
    1610612740: 'NOP',
    1610612751: 'BKN',
    1610612760: 'OKC',
    1610612763: 'MEM',
    1610612766: 'CHA',
}

In [15]:
filtered_df=filtered_df.copy()
filtered_df['TEAM_ABBREVIATION'] = filtered_df.apply(lambda x: abbrev_map.get(x['TEAM_ID'], x['TEAM_ABBREVIATION']), axis=1)

In [16]:
assert len(filtered_df['TEAM_ABBREVIATION'].unique()) == len(filtered_df['TEAM_NAME'].unique())

Since the number of abbreviations are equal to the number of teams, they have been correctly changed

In [17]:
filtered_df.head(10)

,SEASON_ID,TEAM_ID,TEAM_ABBREVIATION,TEAM_NAME,GAME_ID,GAME_DATE,MATCHUP,WL,MIN,PTS,...,FT_PCT,OREB,DREB,REB,AST,STL,BLK,TOV,PF,PLUS_MINUS
42,22023,1610612737,ATL,Atlanta Hawks,22300445,2023-12-31,ATL @ WAS,W,240,130,...,0.649,12.0,46.0,58.0,27,5.0,3,12,18,4.0
43,22023,1610612737,ATL,Atlanta Hawks,22300431,2023-12-29,ATL vs. SAC,L,239,110,...,0.840,18.0,33.0,51.0,29,9.0,4,15,16,-7.0
44,22023,1610612737,ATL,Atlanta Hawks,22300408,2023-12-26,ATL @ CHI,L,239,113,...,0.857,12.0,28.0,40.0,24,6.0,3,15,21,-5.0
45,22023,1610612737,ATL,Atlanta Hawks,22300393,2023-12-23,ATL vs. MEM,L,239,119,...,0.800,13.0,28.0,41.0,28,8.0,5,10,22,-6.0
46,22023,1610612737,ATL,Atlanta Hawks,22300384,2023-12-22,ATL @ MIA,L,240,113,...,0.714,12.0,31.0,43.0,29,9.0,2,13,23,-9.0
47,22023,1610612737,ATL,Atlanta Hawks,22300371,2023-12-20,ATL @ HOU,W,240,134,...,0.821,12.0,32.0,44.0,31,4.0,3,9,18,7.0
48,22023,1610612737,ATL,Atlanta Hawks,22300352,2023-12-18,ATL vs. DET,W,240,130,...,0.815,11.0,29.0,40.0,25,6.0,10,17,24,6.0
49,22023,1610612737,ATL,Atlanta Hawks,22300336,2023-12-16,ATL @ CLE,L,239,119,...,0.880,6.0,28.0,34.0,21,5.0,4,11,21,-8.0
50,22023,1610612737,ATL,Atlanta Hawks,22300330,2023-12-15,ATL @ TOR,W,239,125,...,0.833,16.0,39.0,55.0,34,4.0,4,12,19,21.0
51,22023,1610612737,ATL,Atlanta Hawks,22300313,2023-12-13,ATL @ TOR,L,240,128,...,0.737,13.0,29.0,42.0,32,9.0,8,7,18,-7.0

It would be nice to have the name of the opponents as a separate column so we can clearly see what teams played each other. Lets extract this information from the `MATCHUP` column based on the abbreviations :

In [18]:
def extract_last_team(matchup):
    return matchup.split()[-1]

# Apply the function to the 'MATCHUP' column to create a new column for the last team abbreviation
filtered_df['Opponent_Abbreviation'] = filtered_df['MATCHUP'].apply(extract_last_team)

In [19]:
filtered_df

,SEASON_ID,TEAM_ID,TEAM_ABBREVIATION,TEAM_NAME,GAME_ID,GAME_DATE,MATCHUP,WL,MIN,PTS,...,OREB,DREB,REB,AST,STL,BLK,TOV,PF,PLUS_MINUS,Opponent_Abbreviation
42,22023,1610612737,ATL,Atlanta Hawks,22300445,2023-12-31,ATL @ WAS,W,240,130,...,12.0,46.0,58.0,27,5.0,3,12,18,4.0,WAS
43,22023,1610612737,ATL,Atlanta Hawks,22300431,2023-12-29,ATL vs. SAC,L,239,110,...,18.0,33.0,51.0,29,9.0,4,15,16,-7.0,SAC
44,22023,1610612737,ATL,Atlanta Hawks,22300408,2023-12-26,ATL @ CHI,L,239,113,...,12.0,28.0,40.0,24,6.0,3,15,21,-5.0,CHI
45,22023,1610612737,ATL,Atlanta Hawks,22300393,2023-12-23,ATL vs. MEM,L,239,119,...,13.0,28.0,41.0,28,8.0,5,10,22,-6.0,MEM
46,22023,1610612737,ATL,Atlanta Hawks,22300384,2023-12-22,ATL @ MIA,L,240,113,...,12.0,31.0,43.0,29,9.0,2,13,23,-9.0,MIA
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
104310,21996,1610612764,WAS,Washington Wizards,29600065,1996-11-09,WAS @ IND,L,265,100,...,12.0,30.0,42.0,23,10.0,6,15,30,-3.0,IND
104311,21996,1610612764,WAS,Washington Wizards,29600054,1996-11-08,WAS vs. CHH,L,241,87,...,25.0,30.0,55.0,22,5.0,3,7,21,-15.0,CHH
104312,21996,1610612764,WAS,Washington Wizards,29600042,1996-11-06,WAS vs. SAS,W,240,96,...,14.0,38.0,52.0,19,3.0,3,14,18,10.0,SAS
104313,21996,1610612764,WAS,Washington Wizards,29600015,1996-11-02,WAS vs. CLE,L,266,96,...,13.0,31.0,44.0,19,4.0,8,15,24,-2.0,CLE
104314,21996,1610612764,WAS,Washington Wizards,29600004,1996-11-01,WAS @ ORL,W,240,96,...,11.0,26.0,37.0,25,10.0,10,16,24,4.0,ORL

In [20]:
filtered_df['Opponent_Abbreviation'].unique()

array(['WAS', 'SAC', 'CHI', 'MEM', 'MIA', 'HOU', 'DET', 'CLE', 'TOR',
       'DEN', 'PHI', 'BKN', 'MIL', 'SAS', 'BOS', 'IND', 'NYK', 'ORL',
       'OKC', 'NOP', 'MIN', 'CHA', 'LAL', 'UTA', 'GSW', 'PHX', 'DAL',
       'LAC', 'POR', 'NOH', 'NJN', 'SEA', 'NOK', 'CHH', 'VAN', 'ATL',
       'RMD', 'MLN', 'EAM', 'FBU', 'MRA', 'FRA', 'FEN', 'MTA', 'MAC',
       'SLA', 'MPS', 'MOS', 'OLP', 'FCB', 'ALB', 'PER', 'PAR', 'EPT',
       'LRY', 'ZAK', 'SDS', 'PAN', 'MEL', 'BAR', 'KHI', 'NZB', 'FLA',
       'LAB', 'MMT', 'MAL', 'BAU', 'ADL', 'CHN', 'GUA', 'UBB', 'BNE',
       'ROM', 'CNS', 'RMA', 'LRO', 'SYD'], dtype=object)

There are some teams which arent part of the NBA which played against teams in the NBA, We will ignore these matchups in our analysis but keep them anyway in our dataset. Lets now create a separate column for the names of the opponents that are part of the NBA.

In [21]:
team_abrrev_name_map = {
    'WAS': 'Washington Wizards',
    'SAC': 'Sacaramento Kings',
    'CHI': 'Chicago Bulls',
    'MEM': 'Memphis Grizzlies',
    'MIA': 'Miami Heat',
    'HOU': 'Houston Rockets',
    'DET': 'Detroit Pistons',
    'CLE': 'Cleveland Cavaliers',
    'TOR': 'Toronto Raptors',
    'DEN': 'Denver Nuggets',
    'PHI': 'Philadelphia 76ers',
    'BKN': 'Brooklyn Nets',
    'MIL': 'Milwaukee Bucks',
    'SAS': 'San Antonio Spurs',
    'BOS': 'Boston Celtics',
    'IND': 'Indiana Pacers',
    'NYK': 'New York Knicks',
    'ORL': 'Orlando Magic',
    'OKC': 'Oklahoma City Thunder',
    'NOP': 'New Orleans Pelicans',
    'MIN': 'Minnesota Timberwolves',
    'CHA': 'Charlotte Hornets',
    'LAL': 'Los Angeles Lakers',
    'UTA': 'Utah Jazz',
    'GSW': 'Golden State Warriors',
    'PHX': 'Phoenix Suns',
    'DAL': 'Dallas Mavericks',
    'LAC': 'Los Angeles Clippers',
    'POR': 'Portland Trail Blazers',
    'NOH': 'New Orleans Pelicans',
    'NJN': 'Brooklyn Nets',
    'SEA': 'Oklahoma City Thunder',
    'NOK': 'New Orleans Pelicans',
    'CHH': 'Charlotte Hornets',
    'VAN': 'Memphis Grizzlies',
    'ATL': 'Atlanta Hawks',
}

In [22]:
def map_abbreviation_to_team(abbreviation):
    return team_abrrev_name_map.get(abbreviation, None)

In [23]:
# Apply the function to the 'Opponent_Abbreviation' column to create a new column for the opponent's team name
filtered_df['Opponent_Name'] = filtered_df['Opponent_Abbreviation'].apply(map_abbreviation_to_team)

In [24]:
filtered_df

,SEASON_ID,TEAM_ID,TEAM_ABBREVIATION,TEAM_NAME,GAME_ID,GAME_DATE,MATCHUP,WL,MIN,PTS,...,DREB,REB,AST,STL,BLK,TOV,PF,PLUS_MINUS,Opponent_Abbreviation,Opponent_Name
42,22023,1610612737,ATL,Atlanta Hawks,22300445,2023-12-31,ATL @ WAS,W,240,130,...,46.0,58.0,27,5.0,3,12,18,4.0,WAS,Washington Wizards
43,22023,1610612737,ATL,Atlanta Hawks,22300431,2023-12-29,ATL vs. SAC,L,239,110,...,33.0,51.0,29,9.0,4,15,16,-7.0,SAC,Sacaramento Kings
44,22023,1610612737,ATL,Atlanta Hawks,22300408,2023-12-26,ATL @ CHI,L,239,113,...,28.0,40.0,24,6.0,3,15,21,-5.0,CHI,Chicago Bulls
45,22023,1610612737,ATL,Atlanta Hawks,22300393,2023-12-23,ATL vs. MEM,L,239,119,...,28.0,41.0,28,8.0,5,10,22,-6.0,MEM,Memphis Grizzlies
46,22023,1610612737,ATL,Atlanta Hawks,22300384,2023-12-22,ATL @ MIA,L,240,113,...,31.0,43.0,29,9.0,2,13,23,-9.0,MIA,Miami Heat
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
104310,21996,1610612764,WAS,Washington Wizards,29600065,1996-11-09,WAS @ IND,L,265,100,...,30.0,42.0,23,10.0,6,15,30,-3.0,IND,Indiana Pacers
104311,21996,1610612764,WAS,Washington Wizards,29600054,1996-11-08,WAS vs. CHH,L,241,87,...,30.0,55.0,22,5.0,3,7,21,-15.0,CHH,Charlotte Hornets
104312,21996,1610612764,WAS,Washington Wizards,29600042,1996-11-06,WAS vs. SAS,W,240,96,...,38.0,52.0,19,3.0,3,14,18,10.0,SAS,San Antonio Spurs
104313,21996,1610612764,WAS,Washington Wizards,29600015,1996-11-02,WAS vs. CLE,L,266,96,...,31.0,44.0,19,4.0,8,15,24,-2.0,CLE,Cleveland Cavaliers
104314,21996,1610612764,WAS,Washington Wizards,29600004,1996-11-01,WAS @ ORL,W,240,96,...,26.0,37.0,25,10.0,10,16,24,4.0,ORL,Orlando Magic

Lets reorder these columns for better readability :

In [25]:
column_order = ['SEASON_ID', 'TEAM_ID','TEAM_ABBREVIATION', 'TEAM_NAME', 'MATCHUP', 'Opponent_Abbreviation', 'Opponent_Name'] + [col for col in filtered_df.columns if (col != 'SEASON_ID')  & (col != 'TEAM_ID') & (col != 'TEAM_ABBREVIATION') & (col != 'TEAM_NAME') & (col != 'MATCHUP') & (col != 'Opponent_Abbreviation') & (col != 'Opponent_Name')]
filtered_df = filtered_df.reindex(columns=column_order)

We will add another column which will tell us what season each game was played in :

In [26]:
# function to identify season based on date
def generate_season_label(game_date):
    year = game_date.year
    if game_date.month >= 11:
        return f"{year}-{str(year + 1)[-2:]}"
    else:
        return f"{year - 1}-{str(year)[-2:]}"

In [27]:
# Apply the function to create the 'season' column
filtered_df['season'] = filtered_df['GAME_DATE'].apply(generate_season_label)

In [28]:
filtered_df

,SEASON_ID,TEAM_ID,TEAM_ABBREVIATION,TEAM_NAME,MATCHUP,Opponent_Abbreviation,Opponent_Name,GAME_ID,GAME_DATE,WL,...,OREB,DREB,REB,AST,STL,BLK,TOV,PF,PLUS_MINUS,season
42,22023,1610612737,ATL,Atlanta Hawks,ATL @ WAS,WAS,Washington Wizards,22300445,2023-12-31,W,...,12.0,46.0,58.0,27,5.0,3,12,18,4.0,2023-24
43,22023,1610612737,ATL,Atlanta Hawks,ATL vs. SAC,SAC,Sacaramento Kings,22300431,2023-12-29,L,...,18.0,33.0,51.0,29,9.0,4,15,16,-7.0,2023-24
44,22023,1610612737,ATL,Atlanta Hawks,ATL @ CHI,CHI,Chicago Bulls,22300408,2023-12-26,L,...,12.0,28.0,40.0,24,6.0,3,15,21,-5.0,2023-24
45,22023,1610612737,ATL,Atlanta Hawks,ATL vs. MEM,MEM,Memphis Grizzlies,22300393,2023-12-23,L,...,13.0,28.0,41.0,28,8.0,5,10,22,-6.0,2023-24
46,22023,1610612737,ATL,Atlanta Hawks,ATL @ MIA,MIA,Miami Heat,22300384,2023-12-22,L,...,12.0,31.0,43.0,29,9.0,2,13,23,-9.0,2023-24
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
104310,21996,1610612764,WAS,Washington Wizards,WAS @ IND,IND,Indiana Pacers,29600065,1996-11-09,L,...,12.0,30.0,42.0,23,10.0,6,15,30,-3.0,1996-97
104311,21996,1610612764,WAS,Washington Wizards,WAS vs. CHH,CHH,Charlotte Hornets,29600054,1996-11-08,L,...,25.0,30.0,55.0,22,5.0,3,7,21,-15.0,1996-97
104312,21996,1610612764,WAS,Washington Wizards,WAS vs. SAS,SAS,San Antonio Spurs,29600042,1996-11-06,W,...,14.0,38.0,52.0,19,3.0,3,14,18,10.0,1996-97
104313,21996,1610612764,WAS,Washington Wizards,WAS vs. CLE,CLE,Cleveland Cavaliers,29600015,1996-11-02,L,...,13.0,31.0,44.0,19,4.0,8,15,24,-2.0,1996-97
104314,21996,1610612764,WAS,Washington Wizards,WAS @ ORL,ORL,Orlando Magic,29600004,1996-11-01,W,...,11.0,26.0,37.0,25,10.0,10,16,24,4.0,1996-97

We will now change all the columns to lowercase to keep them consistent with other datasets :

In [29]:
filtered_df.columns

Index(['SEASON_ID', 'TEAM_ID', 'TEAM_ABBREVIATION', 'TEAM_NAME', 'MATCHUP',
       'Opponent_Abbreviation', 'Opponent_Name', 'GAME_ID', 'GAME_DATE', 'WL',
       'MIN', 'PTS', 'FGM', 'FGA', 'FG_PCT', 'FG3M', 'FG3A', 'FG3_PCT', 'FTM',
       'FTA', 'FT_PCT', 'OREB', 'DREB', 'REB', 'AST', 'STL', 'BLK', 'TOV',
       'PF', 'PLUS_MINUS', 'season'],
      dtype='object')

In [30]:
column_name_mapping = {
    'SEASON_ID': 'season_id',
    'TEAM_ID': 'team_id',
    'TEAM_ABBREVIATION': 'team_abbr',
    'TEAM_NAME': 'team_name',
    'MATCHUP' : 'matchup',
    'Opponent_Abbreviation': 'opponent_abbr',
    'Opponent_Name': 'opponent_name',
    'GAME_ID': 'game_id',
    'GAME_DATE': 'game_date',
    'WL': 'win/loss',
    'MIN': 'minutes_played',
    'PTS': 'points',
    'FGM': 'field_goals_made',
    'FGA': 'field_goals_attempted',
    'FG_PCT': 'field_goal_pct',
    'FG3M': 'three_pointers_made',
    'FG3A': 'three_pointers_attempted',
    'FG3_PCT': 'three_point_pct',
    'FTM': 'free_throws_made',
    'FTA': 'free_throws_attempted',
    'FT_PCT': 'free_throw_pct',
    'OREB': 'offensive_rebounds',
    'DREB': 'defensive_rebounds',
    'REB': 'total_rebounds',
    'AST': 'assists',
    'STL': 'steals',
    'BLK': 'blocks',
    'TOV': 'turnovers',
    'PF': 'personal_fouls',
    'PLUS_MINUS' : 'plus_minus',
    'season' : 'season'
}

In [31]:
filtered_df.rename(columns=column_name_mapping, inplace=True)

In [32]:
filtered_df.columns

Index(['season_id', 'team_id', 'team_abbr', 'team_name', 'matchup',
       'opponent_abbr', 'opponent_name', 'game_id', 'game_date', 'win/loss',
       'minutes_played', 'points', 'field_goals_made', 'field_goals_attempted',
       'field_goal_pct', 'three_pointers_made', 'three_pointers_attempted',
       'three_point_pct', 'free_throws_made', 'free_throws_attempted',
       'free_throw_pct', 'offensive_rebounds', 'defensive_rebounds',
       'total_rebounds', 'assists', 'steals', 'blocks', 'turnovers',
       'personal_fouls', 'plus_minus', 'season'],
      dtype='object')

In [33]:
filtered_df.head(10)

,season_id,team_id,team_abbr,team_name,matchup,opponent_abbr,opponent_name,game_id,game_date,win/loss,...,offensive_rebounds,defensive_rebounds,total_rebounds,assists,steals,blocks,turnovers,personal_fouls,plus_minus,season
42,22023,1610612737,ATL,Atlanta Hawks,ATL @ WAS,WAS,Washington Wizards,22300445,2023-12-31,W,...,12.0,46.0,58.0,27,5.0,3,12,18,4.0,2023-24
43,22023,1610612737,ATL,Atlanta Hawks,ATL vs. SAC,SAC,Sacaramento Kings,22300431,2023-12-29,L,...,18.0,33.0,51.0,29,9.0,4,15,16,-7.0,2023-24
44,22023,1610612737,ATL,Atlanta Hawks,ATL @ CHI,CHI,Chicago Bulls,22300408,2023-12-26,L,...,12.0,28.0,40.0,24,6.0,3,15,21,-5.0,2023-24
45,22023,1610612737,ATL,Atlanta Hawks,ATL vs. MEM,MEM,Memphis Grizzlies,22300393,2023-12-23,L,...,13.0,28.0,41.0,28,8.0,5,10,22,-6.0,2023-24
46,22023,1610612737,ATL,Atlanta Hawks,ATL @ MIA,MIA,Miami Heat,22300384,2023-12-22,L,...,12.0,31.0,43.0,29,9.0,2,13,23,-9.0,2023-24
47,22023,1610612737,ATL,Atlanta Hawks,ATL @ HOU,HOU,Houston Rockets,22300371,2023-12-20,W,...,12.0,32.0,44.0,31,4.0,3,9,18,7.0,2023-24
48,22023,1610612737,ATL,Atlanta Hawks,ATL vs. DET,DET,Detroit Pistons,22300352,2023-12-18,W,...,11.0,29.0,40.0,25,6.0,10,17,24,6.0,2023-24
49,22023,1610612737,ATL,Atlanta Hawks,ATL @ CLE,CLE,Cleveland Cavaliers,22300336,2023-12-16,L,...,6.0,28.0,34.0,21,5.0,4,11,21,-8.0,2023-24
50,22023,1610612737,ATL,Atlanta Hawks,ATL @ TOR,TOR,Toronto Raptors,22300330,2023-12-15,W,...,16.0,39.0,55.0,34,4.0,4,12,19,21.0,2023-24
51,22023,1610612737,ATL,Atlanta Hawks,ATL @ TOR,TOR,Toronto Raptors,22300313,2023-12-13,L,...,13.0,29.0,42.0,32,9.0,8,7,18,-7.0,2023-24

The `matchup` column uses 2 different ways of separating the 2 teams in a game : 'vs.' and '@'. We will replace the 'vs.' with '@' to ensure consistency in the column

In [37]:
filtered_df['matchup'] = filtered_df['matchup'].str.replace('vs.', '@', regex=True)

In [38]:
filtered_df.head(10)

,season_id,team_id,team_abbr,team_name,matchup,opponent_abbr,opponent_name,game_id,game_date,win/loss,...,offensive_rebounds,defensive_rebounds,total_rebounds,assists,steals,blocks,turnovers,personal_fouls,plus_minus,season
42,22023,1610612737,ATL,Atlanta Hawks,ATL @ WAS,WAS,Washington Wizards,22300445,2023-12-31,W,...,12.0,46.0,58.0,27,5.0,3,12,18,4.0,2023-24
43,22023,1610612737,ATL,Atlanta Hawks,ATL @ SAC,SAC,Sacaramento Kings,22300431,2023-12-29,L,...,18.0,33.0,51.0,29,9.0,4,15,16,-7.0,2023-24
44,22023,1610612737,ATL,Atlanta Hawks,ATL @ CHI,CHI,Chicago Bulls,22300408,2023-12-26,L,...,12.0,28.0,40.0,24,6.0,3,15,21,-5.0,2023-24
45,22023,1610612737,ATL,Atlanta Hawks,ATL @ MEM,MEM,Memphis Grizzlies,22300393,2023-12-23,L,...,13.0,28.0,41.0,28,8.0,5,10,22,-6.0,2023-24
46,22023,1610612737,ATL,Atlanta Hawks,ATL @ MIA,MIA,Miami Heat,22300384,2023-12-22,L,...,12.0,31.0,43.0,29,9.0,2,13,23,-9.0,2023-24
47,22023,1610612737,ATL,Atlanta Hawks,ATL @ HOU,HOU,Houston Rockets,22300371,2023-12-20,W,...,12.0,32.0,44.0,31,4.0,3,9,18,7.0,2023-24
48,22023,1610612737,ATL,Atlanta Hawks,ATL @ DET,DET,Detroit Pistons,22300352,2023-12-18,W,...,11.0,29.0,40.0,25,6.0,10,17,24,6.0,2023-24
49,22023,1610612737,ATL,Atlanta Hawks,ATL @ CLE,CLE,Cleveland Cavaliers,22300336,2023-12-16,L,...,6.0,28.0,34.0,21,5.0,4,11,21,-8.0,2023-24
50,22023,1610612737,ATL,Atlanta Hawks,ATL @ TOR,TOR,Toronto Raptors,22300330,2023-12-15,W,...,16.0,39.0,55.0,34,4.0,4,12,19,21.0,2023-24
51,22023,1610612737,ATL,Atlanta Hawks,ATL @ TOR,TOR,Toronto Raptors,22300313,2023-12-13,L,...,13.0,29.0,42.0,32,9.0,8,7,18,-7.0,2023-24

Lets save the cleaned dataset to a csv file :

In [39]:
output_dir = os.path.join("..", "data", "cleaned", "team_game_data")
os.makedirs(output_dir, exist_ok=True)

output_filename = os.path.join(output_dir, "team_game_stats.csv")
filtered_df.to_csv(output_filename, index=False)